[submodule "Parser-v2"]
	path = Parser-v2
	url = https://github.com/tapika/Parser-v2
[submodule "universal-lemmatizer"]
	path = universal-lemmatizer
	url = https://github.com/tapika/universal-lemmatizer
[submodule "tokenizer"]
	path = tokenizer
	url = https://github.com/tapika/tokenizer
